server:
  port: 9002

spring:
  application:
    name: nacos-payment-provider
  cloud:
    nacos:
      discovery:
        server-addr: 120.79.71.107:8288
management:
  endpoints:
    web:
      exposure:
        include: '*'          